:root {
    --main-Yellow: #ffc600;
    --main-Banafsagy: #a700ff;
    --main-Oringe: #ffc600;
}

a:visited {
    color: var(--main-Oringe);
}

body{
  background: black;
  margin-top: 40px;
  color: white;
  padding-top : 0pt;
  padding-left : 100pt;
  padding-bottom : 10pt;
  padding-right : 100pt;

}

Label{
    color: var(--main-Oringe);
}

.WorningLabel
{
  color: red;
}

hr{
  border-top: 4px solid var(--main-Oringe);
  border-bottom: 2px solid var(--main-Banafsagy);
}

.aTable{
    margin-right: 20pt;
}

li{
    color: var(--main-Oringe);
}

h1{
    text-align: center;
    color: var(--main-Banafsagy);
}

h2{
    color: var(--main-Banafsagy);
}

th{
    color: var(--main-Oringe);
    border-bottom: 4px solid var(--main-Banafsagy);
}

td.useredit{

    text-align: center;
}

td.infoLable{
    color: var(--main-Oringe);
}

td{
    color: white;
}